/**
 * 파일 경로: /public/style
 * 파일 이름: login.css
 * 
 * 파일 작성자: NeraCocoZ
 * 작성자 메일: neracocoz@gmail.com
 * 
 * 파일 생성일: 2023-07-19, 수
 * 
 * 이 파일은 "코드 정리 및 최적화"가 완료된 파일입니다.
 */

 body {
    font-family: MaplestoryB;
}

#subTitle {
    font-family: MaplestoryB;
    font-size: 15px;
    margin-top: 1em;
}

#title {
    font-family: MaplestoryB;
    font-size: 32px;
}

.form-control, .form-select {
    width: 50%;
    margin-top: 1em;
}

#apiKeyRedirict {
    color: #fd7e14;
}

#apiKeyRedirict:hover {
    color: #ca6510;
}

#loginButton, #registerButton {
    margin: 1em;
}

