<!-- apiModal.ejs 시작 -->
<style>
    #apiKey, #apiKeyButton{
        width: 100%;
        margin-top: 1em;
    }
</style>

<div class="modal fade" id="apiModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">API Key & 대표 캐릭터 등록</h5>
            </div>
            <div class="modal-body">
                <p>API Key를 등록후 대표 캐릭터를 설정해주세요.</p>
                <input class="form-control" id="apiKey" name="apiKey" type="text" placeholder="API Key">
                <button class="btn btn-outline-primary" id="apiKeyButton" name=" id="apiKeyButton" type="button">등록</button>
                <hr>
                <select class="form-select" id="characterList" disabled>
                    <option selected>API Key를 등록해주세요.</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" disabled>대표캐릭터 등록</button>
            </div>
        </div>
    </div>
</div>
<!-- apiModal.ejs 끝 -->