<!-- errorModal.ejs 시작 -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorTitle"></h5>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orange" id="errorModalClose">닫기</button>
            </div>
        </div>
    </div>
</div>

<script>
    // errorModal 호출
    function showErrorModal(title, message){
        $("#errorTitle").html(title);
        $("#errorMessage").html(message);

        $("#errorModal").modal("show");
    }

    $("#errorModalClose").click(() => {
        $("#errorModal").modal("hide");
    })
</script>
<!-- errorModal.ejs 끝 -->