<!-- header.ejs 시작 -->
<script src="./script/header.js"></script>
<style>
    #navLogin, #navRegister, #navLogout, #navUsername {
        display: none;
        color: black;
    }
</style>


<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" id="navTitle" href="/">Maplayer.KR</a>

        <div class="d-flex">
            <a class="me-2" id="navLogin" href="/login"><i class="fa-solid fa-right-from-bracket"></i> 로그인</a>
            <a class="me-2" id="navRegister" href="/login/register"><i class="fa-solid fa-id-card"></i> 회원가입</a>
        
            <a class="me-2" id="navLogout" onclick="logout()"><i class="fa-solid fa-right-from-bracket"></i> 로그아웃</a>
            <a class="me-2" id="navMypage" href="/mypage"><i class="fa-solid fa-user"></i> <a id="navUsername">userName</a></a>
        </div>
    </div>
</nav>
<!-- header.ejs 끝-->